// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Copyright (c) 2020 thingy.jp.
 * Author: Daniel Palmer <daniel@thingy.jp>
 */

#include "mstar-infinity.dtsi"

/ {
	clk_timer: timer_clk {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <432000000>;
	};
};

&cpus {
	cpu1: cpu@1 {
		device_type = "cpu";
		compatible = "arm,cortex-a7";
		operating-points-v2 = <&cpu0_opp_table>;
		reg = <0x1>;
		clocks = <&cpupll>;
		clock-names = "cpuclk";
	};
};

&cpu0_opp_table {
	opp-1008000000 {
		opp-hz = /bits/ 64 <1008000000>;
		opp-microvolt = <1000000>;
		clock-latency-ns = <300000>;
	};

	opp-108000000 {
		opp-hz = /bits/ 64 <1080000000>;
		opp-microvolt = <1000000>;
		clock-latency-ns = <300000>;
	};

	opp-1188000000 {
		opp-hz = /bits/ 64 <1188000000>;
		opp-microvolt = <1000000>;
		clock-latency-ns = <300000>;
	};

	opp-1296000000 {
		opp-hz = /bits/ 64 <1296000000>;
		opp-microvolt = <1000000>;
		clock-latency-ns = <300000>;
	};

	/* Overclock. Stable upto 1.8GHz */
	opp-1350000000 {
		opp-hz = /bits/ 64 <1350000000>;
		opp-microvolt = <1000000>;
		clock-latency-ns = <300000>;
		turbo-mode;
	};

	opp-1404000000 {
		opp-hz = /bits/ 64 <1404000000>;
		opp-microvolt = <1000000>;
		clock-latency-ns = <300000>;
		turbo-mode;
	};

	opp-1458000000 {
		opp-hz = /bits/ 64 <1458000000>;
		opp-microvolt = <1000000>;
		clock-latency-ns = <300000>;
		turbo-mode;
	};

	opp-1512000000 {
		opp-hz = /bits/ 64 <1512000000>;
		opp-microvolt = <1000000>;
		clock-latency-ns = <300000>;
		turbo-mode;
	};

	opp-1600000000 {
		opp-hz = /bits/ 64 <1600000000>;
		opp-microvolt = <1000000>;
		clock-latency-ns = <300000>;
		turbo-mode;
	};

	opp-1700000000 {
		opp-hz = /bits/ 64 <1700000000>;
		opp-microvolt = <1000000>;
		clock-latency-ns = <300000>;
		turbo-mode;
	};

/*	opp-1800000000 {
		opp-hz = /bits/ 64 <1800000000>;
		opp-microvolt = <1000000>;
		clock-latency-ns = <300000>;
		turbo-mode;
	};*/
};

&pmu {
		interrupts = <GIC_SPI 10 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 16 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-affinity = <&cpu0>, <&cpu1>;
};

&riu {
	mmu: mmu@2600 {
	};

	pwm: pwm@3400 {
		compatible = "mstar,ssd20xd-pwm";
		reg = <0x3400 0x400>;
		#pwm-cells = <2>;
		clocks = <&xtal_div2>;
	};

	rtcpwc: rtcpwc@6800 {
		compatible = "sstar,ssd20xd-rtcpwc";
		reg = <0x6800 0x200>;
		//TBC from i6 headers
		interrupts-extended = <&wakeintc 7 IRQ_TYPE_LEVEL_HIGH>;
		wakeup-source;
	};

	movedma: movedma@201600 {
		compatible = "sstar,ssd20xd-movedma";
		#dma-cells = <1>;
		reg = <0x201600 0x200>;
		clocks = <&clkgen MSC313_CLKGEN_DEGLITCHES SSD20XD_CLKGEN_MSPI_MOVEDMA 0>;
		interrupts-extended = <&intc_irq GIC_SPI 60 IRQ_TYPE_LEVEL_HIGH>;
	};

	//start address for second cpu
	//0x1F20404C
	//0x1F204050
	//0x1F204058 -- unlock

	smpctrl: smpctrl@204000 {
		reg = <0x204000 0x200>;
		status = "disabled";
	};

	uart2: serial@221400 {
		compatible = "mstar,msc313-uart", "snps,dw-apb-uart";
		reg = <0x221400 0x100>;
		reg-shift = <3>;
		interrupts-extended = <&intc_irq GIC_SPI 39 IRQ_TYPE_LEVEL_HIGH>;
		//clocks = <&clkgen MSC313_CLKGEN_DEGLITCHES MSC313_CLKGEN_UART1 0>;
		status = "disabled";
	};

	gpi: interrupt-controller@207a00 {
		compatible = "sstar,ssd20xd-gpi";
		reg = <0x207a00 0x200>;
		#interrupt-cells = <2>;
		interrupt-controller;
		interrupts-extended = <&intc_irq GIC_SPI 56 IRQ_TYPE_LEVEL_HIGH>;
	};

	display: display@0 {
		compatible = "sstar,ssd20xd-drm";
		ports = <&mopg>,<&mops>,<&gop0>,<&gop1>,<&op2>,<&displaytop>,<&dsi>;
	};

	ge: ge@281200 {
		compatible = "sstar,ssd20xd-ge";
		reg = <0x281200 0x200>;
		clocks = <&clkgen MSC313_CLKGEN_DEGLITCHES MSC313_CLKGEN_GE 0>;
		clock-names = "ge";
		//assigned-clocks = <&clkgen MSC313_CLKGEN_MUXES MSC313_CLKGEN_GE 0>;
		//assigned-clock-parents = <&clkgen MSC313_CLKGEN_DIVIDERS MSC313_CLKGEN_GATE_9 GATE9_DIVIDEBY_4>;
		interrupts-extended = <&intc_irq GIC_SPI 25 IRQ_TYPE_LEVEL_HIGH>;
		interconnects = <&miu 0>;
		interconnect-names = "dma-mem";
	};

	hdmitx: hdmitx@224A00 {
		compatible = "sstar,ssd20xd-hdmi";
		reg = <0x224A00 0x400>;
		status = "disabled";
		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				hdmitx_in: endpoint {
					remote-endpoint = <&op2_hdmitx>;
				};
			};
		};
	};

	displaytop: top@225000 {
		compatible = "sstar,ssd20xd-display-top";
		reg = <0x225000 0x200>;
		interrupts-extended = <&intc_irq GIC_SPI 50 IRQ_TYPE_LEVEL_HIGH>;
		clock-names = "sc_pixel", "disp_432", "disp_216", "hdmi";
		clocks = <&clkgen MSC313_CLKGEN_DEGLITCHES SSD20XD_CLKGEN_SC_PIXEL 0>,
			 <&clkgen MSC313_CLKGEN_DEGLITCHES SSD20XD_CLKGEN_DISP_432 0>,
			 <&clkgen MSC313_CLKGEN_DEGLITCHES SSD20XD_CLKGEN_DISP_216 0>,
			 <&sc_gp_ctrl_muxes SSD20XD_SC_GP_HDMI_GATE>;
	};

	op2: op2@225200 {
		compatible = "sstar,ssd20xd-op2";
		reg = <0x225200 0x200>;
		status = "disabled";
		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				op2_ttl: endpoint {
				};
			};
			port@1 {
				reg = <1>;
				op2_dsi: endpoint {
				};
			};
			port@2 {
				reg = <2>;
				op2_hdmitx: endpoint {
				};
			};
		};
	};

	// all zeros
	osd: osd@243000 {

	};

	// all zeros
	scl_to_gop@243400 {
	};

	dip_to_gop@247400 {

	};

	gop1: gop@246800 {
		compatible = "sstar,ssd20xd-gop1";
		reg = <0x246800 0x400>;
	};

	mopg: mopg@280a00 {
		compatible = "sstar,ssd20xd-mopg";
		reg = <0x280a00 0x600>;
		clocks = <&clkgen MSC313_CLKGEN_DEGLITCHES MSC313_CLKGEN_MOP 0>;
	};

	mops: mops@281000 {
		compatible = "sstar,ssd20xd-mops";
		reg = <0x281000 0x200>;
	};

	moprot: moprot@281a00 {
		compatible = "sstar,ssd20xd-moprot";
		reg = <0x281a00 0x200>;
	};

	upll1: upll@283e00 {
		#clock-cells = <1>;
		compatible = "mstar,msc313-upll";
		reg = <0x283e00 0x20>;
		clocks = <&xtal>;
	};

	utmi2: utmi@284a00 {
		compatible = "syscon";
		reg = <0x284a00 0x80>;
	};

	usbc2: usbc@284e00 {
		compatible = "syscon";
		reg = <0x284e00 0x20>;
	};

	usbphy2: usbphy@2 {
		#phy-cells = <1>;
		compatible = "mstar,msc313-usb-phy";
		clocks = <&xtal_div2>;
		mstar,utmi = <&utmi2>;
		mstar,usbc = <&usbc2>;
		status = "disabled";
	};

	uhc2: uhc@285000 {
		compatible = "mstar,msc313-ehci";
		reg = <0x285000 0x200>;
		interrupts-extended = <&intc_irq GIC_SPI 33 IRQ_TYPE_LEVEL_HIGH>;
		phys = <&usbphy2 0>;
		phy-names = "usb";
		mstar,usbc = <&usbc2>;
		status = "disabled";
	};

	dphy: dphy@2a5000 {
		compatible = "sstar,ssd20xd-dphy";
		reg = <0x2a5000 0x200>;
		#phy-cells = <0>;
	};

	vpu: video-codec@344800 {
		compatible = "sstar,ssd20xd-vdec";
		reg = <0x344800 0x800>;
		clocks = <&clkgen MSC313_CLKGEN_DEGLITCHES SSD20XD_CLKGEN_DEC_PCLK 0>,
			<&clkgen MSC313_CLKGEN_DEGLITCHES SSD20XD_CLKGEN_DEC_ACLK 0>,
			<&clkgen MSC313_CLKGEN_DEGLITCHES SSD20XD_CLKGEN_DEC_BCLK 0>,
			<&clkgen MSC313_CLKGEN_DEGLITCHES SSD20XD_CLKGEN_DEC_CCLK 0>;
		interrupts-extended = <&intc_irq GIC_SPI 21 IRQ_TYPE_LEVEL_HIGH>;
		interconnects = <&miu 0>;
		interconnect-names = "dma-mem";
		status = "disabled";
	};
	
	//#define SATA_GHC_0          0x1A2800
	//#define SATA_GHC_0_P0       0x1A2840
	//#define SATA_GHC_0_MISC     0x152500
	//#define SATA_GHC_0_PHY      0x152600
	//#define SATA_GHC_0_PHY_ANA  0x152700

	sata_phy: phy@2a4a00 {
		#phy-cells = <0>;
		compatible = "sstar,ssd203d-sata-phy";
		reg = <0x2a4a00 0x600>;
	};

	sata: ahci@345000 {
		compatible = "generic-ahci";
		reg = <0x345000 0x1000>;
		interrupts-extended = <&intc_irq GIC_SPI 18 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkgen MSC313_CLKGEN_DEGLITCHES SSD20XD_CLKGEN_SATA 0>;
		phy-names = "sata-phy";
		phys = <&sata_phy>;
		status = "disabled";
	};

	dsi: dsi@345200 {
		compatible = "sstar,ssd20xd-dsi";
		reg = <0x345200 0x400>;
		interrupts-extended = <&intc_irq GIC_SPI 57 IRQ_TYPE_LEVEL_HIGH>;
		phy-names = "dphy";
		phys = <&dphy>;
		clock-names = "engine", "digital", "hs";
		clocks = <&xtal_div2>, <&xtal_div2>, <&xtal_div2>;
		status = "disabled";
		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				dsi_out: endpoint {
				};
	                };
	                port@1 {
				reg = <1>;
				dsi_in: endpoint {
					remote-endpoint = <&op2_dsi>;
				};
			};
		};
	};
};

&aesdma {
	compatible = "sstar,ssd20xd-aesdma";
};

&bdma {
	compatible = "sstar,ssd20xd-bdma";
	reg = <0x200400 0x100>;
	interrupt-parent = <&intc_irq>;
	interrupts = <GIC_SPI 40 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 41 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 61 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 62 IRQ_TYPE_LEVEL_HIGH>;
};

&gop0 {
	compatible = "sstar,ssd20xd-gop0";
	status = "okay";
};

&gpio {
	interrupt-parent = <&gpi>;
};

&timer0 {
	compatible = "sstar,ssd20xd-timer";
	clocks = <&clk_timer>;
};

&timer1 {
	compatible = "sstar,ssd20xd-timer";
	clocks = <&clk_timer>;
};

&timer2 {
	compatible = "sstar,ssd20xd-timer";
	clocks = <&clk_timer>;
};

&uhc0 {
	interrupts-extended = <&intc_irq GIC_SPI 55 IRQ_TYPE_LEVEL_HIGH>;
};

&uhc1 {
	interrupts-extended = <&intc_irq GIC_SPI 31 IRQ_TYPE_LEVEL_HIGH>;
};

&phy {
	compatible = "ethernet-phy-idDEAD.B33F";
};

&emac {
	compatible = "mstar,msc313e-emac";
	reg = <0x2a2000 0x400>,
	      <0x343c00 0x400>;
};

&imi {
	reg = <0xa0000000 0x10000>;
};

&sc_gp_ctrl_muxes {
	compatible = "sstar,ssd20xd-sc-gp-ctrl-muxes";
	clock-names = "eth_buf", "rmii_buf","xtal_div2", "sdio_clkgen", "sc_pixel";
	clocks = <&eth_buf>,
		 <&rmii_buf>,
		 <&xtal_div2>,
		 <&clkgen MSC313_CLKGEN_DEGLITCHES MSC313_CLKGEN_SDIO 0>,
		 <&clkgen MSC313_CLKGEN_DEGLITCHES SSD20XD_CLKGEN_SC_PIXEL 0>;
};

&clkgen {
	compatible = "sstar,ssd20xd-clkgen";
};

&sdio {
	clocks = <&sc_gp_ctrl_muxes SSD20XD_SC_GP_SDIO_GATE>;
};

&mspi0 {
	compatible = "sstar,ssd20xd-spi", "mstar,msc313-spi";
	dma-names = "movedma";
	dmas = <&movedma 0>;
	interconnects = <&miu 0>;
	interconnect-names = "dma-mem";
};
