// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Copyright (c) 2021 thingy.jp.
 * Author: Daniel Palmer <daniel@thingy.jp>
 */

/dts-v1/;
#include "mstar-infinity2m-ssd202d-wirelesstag-ido-som2d01.dtsi"

/ {
	model = "SBC2D86 (SSD202D)";
	compatible = "ido,sbc2d86", "mstar,infinity2m";

	aliases {
		serial0 = &pm_uart;
		rtc0 = &hym8563;
		rtc1 = &rtcpwc;
		rtc2 = &rtc;
	};

	chosen {
		bootargs = "console=ttyS0,115200 clk_ignore_unused earlyprintk";
	};

	vcc_ext_vbus: regulator@2 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_ext_vbus";
		regulator-type = "voltage";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpios = <&gpio SSD20XD_GPIO_GPIO11 0>;
		enable-active-high;
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm 0 50000>;
		brightness-levels = <0 4 8 16 32 64 128 255>;
		default-brightness-level = <6>;
	};
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_mode4_pins>;
	status = "okay";
	es7243: xxx@10 {
		reg = <0x10>;
	};
	hym8563: rtc@51 {
		compatible = "haoyu,hym8563";
		reg = <0x51>;
	};
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_mode4_pins>;
	status = "okay";
	ts@5d {
		compatible = "goodix,gt911";
		reg = <0x5d>;
		interrupts-extended = <&gpio SSD20XD_GPIO_TTL20 IRQ_TYPE_EDGE_FALLING>;
		reset-gpios = <&gpio SSD20XD_GPIO_TTL21 GPIO_ACTIVE_HIGH>;
		interrupt-gpios = <&gpio SSD20XD_GPIO_TTL20 GPIO_ACTIVE_HIGH>;
	};
};

&pwm {
	pinctrl-names = "default";
        pinctrl-0 = <&pwm0_mode3_pins>;
};

&op2 {
	status = "okay";
	assigned-clocks = <&clkgen MSC313_CLKGEN_MUXES SSD20XD_CLKGEN_SC_PIXEL 0>,
			  <&sc_gp_ctrl_muxes SSD20XD_SC_GP_HDMI_GATE_MUX>;
	assigned-clock-parents = <&clkgen MSC313_CLKGEN_DIVIDERS MSC313_CLKGEN_GATE_9 GATE9_DIVIDEBY_4>,
				 <&clkgen MSC313_CLKGEN_DEGLITCHES SSD20XD_CLKGEN_SC_PIXEL 0>;
};

&op2_dsi {
	remote-endpoint = <&dsi_in>;
};

&dsi_out {
	remote-endpoint = <&panel_in>;
};

&dsi {
	//assigned-clocks = <&clkgen MSC313_CLKGEN_MUXES SSD20XD_CLKGEN_MIPI_TX_DSI 0>;
	//assigned-clock-parents = <&clkgen MSC313_CLKGEN_GATES MSC313_CLKGEN_GATE_9 0>;
	status = "okay";
	panel@0 {
		compatible = "frida,frd720x720bk";
		reg = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&tx_mipi_mode1_pins>;
		backlight = <&backlight>;
		dsi-lanes = <4>;
		port {
			panel_in: endpoint {
				remote-endpoint = <&dsi_out>;
			};
		};
	};
};
