// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Copyright (c) 2020 thingy.jp.
 * Author: Daniel Palmer <daniel@thingy.jp>
 */

#include "mstar-v7.dtsi"

&cpus {
	cpu1: cpu@1 {
		device_type = "cpu";
		compatible = "arm,cortex-a7";
		reg = <0x1>;
		clocks = <&cpupll>;
		clock-names = "cpuclk";
	};
};

&pinctrl {
	compatible = "sstar,ssd20xd-pinctrl";
};

&gpio {
	compatible = "sstar,ssd20xd-gpio";
	/delete-property/ gpio-ranges;
	status = "okay";
};

&pmu {
		interrupts = <GIC_SPI 10 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 16 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-affinity = <&cpu0>, <&cpu1>;
};

&riu {
	smpctrl: smpctrl@204000 {
		compatible = "sstar,ssd201-smpctrl", "mstar,smpctrl";
		reg = <0x204000 0x200>;
	};
};

&clkgen {
	compatible = "sstar,ssd20xd-clkgen";
};
