// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Copyright (c) 2020 thingy.jp.
 * Author: Daniel Palmer <daniel@thingy.jp>
 */

#include "mstar-infinity2m.dtsi"

&soc {
	emac1: emac@1f2a2800 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "cdns,msc313";
		interrupt-parent = <&intc_irq>;
		interrupts = <52 IRQ_TYPE_LEVEL_HIGH>;
		reg = <0x1f2a2800 0x800>;
		clock-names = "pclk", "hclk", "tx_clk", "rx_clk";
		clocks = <&clkgen_mux_emac 0>,
			 <&clkgen_mux_emac 0>,
			 <&clkgen_special_emac_tx 0>,
			 <&clkgen_special_emac_rx 0>;
		local-mac-address = [00 00 00 00 00 00];
		status = "disabled";
	};
};

&smpctrl {
	compatible = "sstar,ssd201-smpctrl", "mstar,smpctrl";
	status = "okay";
};

&pinctrl {
	compatible = "sstar,ssd20xd-pinctrl";
};

&sar {
	compatible = "sstar,sar-ssd20x";
};
