// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Copyright (c) 2021 thingy.jp.
 * Author: Daniel Palmer <daniel@thingy.jp>
 */

/dts-v1/;
#include "mstar-infinity2m-ssd202d.dtsi"

/ {
	model = "Miyoo Mini";
	compatible = "miyoo,miyoo-mini", "mstar,infinity2m";

	aliases {
		serial0 = &pm_uart;
	};

	chosen {
		stdout-path = "serial0:115200n8";
		bootargs = "console=ttyS0,115200 clk_ignore_unused earlyprintk";
	};

	gpio-charger {
		compatible = "gpio-charger";
		charger-type = "usb-dcp";
		gpios = <&gpio_pm SSD20XD_PM_IRIN>;
	};

	gpio-keys {
		compatible = "gpio-keys-polled";
		poll-interval = <10>;

		key_up {
			label = "key_up";
			gpios = <&gpio SSD20XD_GPIO_GPIO1 GPIO_ACTIVE_LOW>;
			linux,code = <103>; /* KEY_UP */
		};

		key_down {
			label = "key_down";
			gpios = <&gpio_pm SSD20XD_PM_LED0 GPIO_ACTIVE_LOW>;
			linux,code = <108>; /* KEY_DOWN */
		};

		key_left {
			label = "key_left";
			gpios = <&gpio_pm SSD20XD_PM_LED1 GPIO_ACTIVE_LOW>;
			linux,code = <105>; /* KEY_LEFT */
		};

		key_right {
			label = "key_right";
			gpios = <&gpio SSD20XD_GPIO_GPIO5 GPIO_ACTIVE_LOW>;
			linux,code = <106>; /* KEY_RIGHT */
		};

		key_a {
			label = "key_a";
			gpios = <&gpio SSD20XD_GPIO_GPIO7 GPIO_ACTIVE_LOW>;
			linux,code = <30>; /* KEY_A */
		};

		key_b {
			label = "key_b";
			gpios = <&gpio SSD20XD_GPIO_GPIO6 GPIO_ACTIVE_LOW>;
			linux,code = <48>; /* KEY_B */
		};

		key_y {
			label = "key_y";
			gpios = <&gpio SSD20XD_GPIO_GPIO8 GPIO_ACTIVE_LOW>;
			linux,code = <21>; /* KEY_Y */
		};

		key_x {
			label = "key_x";
			gpios = <&gpio SSD20XD_GPIO_GPIO9 GPIO_ACTIVE_LOW>;
			linux,code = <45>; /* KEY_X */
		};

		key_start {
			label = "key_start";
			gpios = <&gpio SSD20XD_GPIO_GPIO10 GPIO_ACTIVE_LOW>;
			linux,code = <28>; /* KEY_ENTER */
		};

		key_select {
			label = "key_select";
			gpios = <&gpio SSD20XD_GPIO_GPIO11 GPIO_ACTIVE_LOW>;
			linux,code = <1>; /* KEY_ESC */
		};

		key_menu {
			label = "key_menu";
			gpios = <&gpio SSD20XD_GPIO_GPIO12 GPIO_ACTIVE_LOW>;
			linux,code = <139>; /* KEY_MENU */
		};

		key_l {
			label = "key_l";
			gpios = <&gpio SSD20XD_GPIO_GPIO14 GPIO_ACTIVE_LOW>;
			linux,code = <16>; /* KEY_Q */
		};

		key_l2 {
			label = "key_l2";
			gpios = <&gpio SSD20XD_GPIO_GPIO13 GPIO_ACTIVE_LOW>;
			linux,code = <17>; /* KEY_W */
		};

		key_r {
			label = "key_r";
			gpios = <&gpio SSD20XD_GPIO_UART0_RX GPIO_ACTIVE_LOW>;
			linux,code = <18>; /* KEY_E */
		};

		key_r2 {
			label = "key_r2";
			gpios = <&gpio SSD20XD_GPIO_GPIO90 GPIO_ACTIVE_LOW>;
			linux,code = <19>; /* KEY_R */
		};

		key_power {
			label = "key_power";
			gpios = <&gpio SSD20XD_GPIO_GPIO86 GPIO_ACTIVE_HIGH>;
			linux,code = <116>; /* KEY_POWER */
		};
	};

	reg_vcc_core: regulator-vcc-core {
		compatible = "regulator-gpio";
		regulator-name = "vcc_core";
		regulator-type = "voltage";
		regulator-min-microvolt = <950000>;
		regulator-max-microvolt = <1000000>;
		regulator-boot-on;
		regulator-ramp-delay = <12000>;
		gpios = <&sar 1 0>;
		states = <1000000 0x1
			  950000  0x0>;
	};

	reg_vcc_dram: regulator-vcc-dram {
		compatible = "regulator-fixed";
		regulator-name = "vcc_dram";
		regulator-min-microvolt = <1500000>;
		regulator-max-microvolt = <1500000>;
		regulator-boot-on;
	};

	reg_vcc_io: regulator-vcc-io {
		compatible = "regulator-fixed";
		regulator-name = "vcc_io";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
	};

	reg_vdd_sd: regulator-vdd-sd {
		compatible = "regulator-fixed";
		regulator-name = "sd_vdd";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio SSD20XD_GPIO_GPIO0 0>;
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm 0 50000>;
		brightness-levels = <0 4 8 16 32 64 128 255>;
		default-brightness-level = <6>;
	};
};

&cpu0 {
	cpu-supply = <&reg_vcc_core>;
};

&pm_uart {
	status = "okay";
};

&pwm {
	pinctrl-names = "default";
        pinctrl-0 = <&pwm0_mode3_pins>;
};

&i2c1 {
        pinctrl-names = "default";
        pinctrl-0 = <&i2c1_mode1_pins>;
	status = "okay";
};

&miu {
	ddr-supply = <&reg_vcc_dram>;
};

&sdio {
	vmmc-supply = <&reg_vdd_sd>;
	vqmmc-supply = <&reg_vcc_io>;
	status = "okay";
};
